/*---------------------------------------*/
/* Header component */
/*---------------------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebeae6;
  color: white;
}

.brand-logo {
  font: size 1.5rem;
  margin: 0.5rem;
}

.burger-menu {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

/*---------------------------------------*/
/* Media queries: For responsiveness */
/*---------------------------------------*/


/* Extra small devices (Small Phones)  */
@media only screen and (max-width: 768x) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
